.lobby_wrap {
	align-items:center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
    position: absolute;
	z-index: 1;
}

.lobby_wrap h2 {
	text-align: center;
	color: #fff;
	font-size: 50px;
	margin: 0 0 10px 0;
}

.lobby_wrap a {
    text-decoration: none;
}

.lobby_button {
	border: 1px solid white;
	cursor: pointer;
	text-align: center;
	color: #fff;
	font-size: 30px;
	height: 50px;
    margin: 10px 0 20px 0;
    width: 200px;
}

.lobby_button:hover {
	background-color: white;
	color: #3a3a3a;
}

.warning {
    color: white;
    margin-top: -15px;
}


/* Large devices (desktops, 992px and below) */
@media (max-width: 992px) {
    .lobby_wrap h2 {
        margin-top: 20%;
	}
}

/* Medium devices (tablets, 768px and below) */
@media (max-width: 768px) {
    .lobby_wrap h2 {
        margin-top: 0;
    } 
}


/* Small devices (landscape phones, 576px and below) */
@media (max-width: 576px) {

}