.home_wrap {
	align-items:center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
    position: absolute;
	z-index: 1;
}

.home_wrap a {
    text-decoration: none;
}
.home_wrap h2 {
	text-align: center;
	color: #fff;
	font-size: 50px;
	margin: 0 0 100px 0;
}
.game_options {
	align-items: center;
    display: flex;
	flex-direction: column;
	position: relative;
}

.game_options h6 {
	margin-top: 40px;
	color: white;
	font-size: 20px;
}

.home_wrap h4 {
	border: 1px solid white;
	cursor: pointer;
	text-align: center;
	color: #fff;
	font-size: 30px;
	height: 50px;
    margin: 10px auto 20px auto;
    width: 200px;
}

.home_wrap h4:hover {
	background-color: white;
	color: #3a3a3a;
}

.game_options p {
	position: absolute;
	top: 220px;
}

.home_wrap input {
	font-family: 'Baloo 2', cursive;
	font-size: 24px;
	height: 50px;
	margin-top: -10px;
	width: 200px;
	text-align: center;
}
.home_wrap p {
	color: #ffffff;
	margin: 10px;
}

.code {
	color: white;
	cursor: pointer;
	text-align: center;
	font-size: 30px;
	height: 50px;
    margin: 10px auto 20px auto;
}


/* Large devices (desktops, 992px and below) */
@media (max-width: 992px) {
    .home_wrap h2 {
        margin-top: 0;
	}
}

/* Medium devices (tablets, 768px and below) */
@media (max-width: 768px) {
    .home_wrap h2 {
        margin-top: 0;
    } 
}


/* Small devices (landscape phones, 576px and below) */
@media (max-width: 576px) {

}